.page--hitsBroadcasted {
    .contentAside {
        @media (max-width: $breakpoint-md-max) {
            order: -1;
        }
        @media (min-width: $breakpoint-lg) {
            padding-top: $spacing-44;
        }
    }

    .sidebar {
        @media (max-width: $breakpoint-md-max) {
            position: sticky;
            margin: 0 -$spacing-base;
            transition: top 0.2s ease-in-out;
            z-index: 1;
        }
    }
}
