<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <h1>NRJ TWIG PAGE</h1>
        <h2>{{ message }}</h2>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
