@import "assets/scss/variables";

//Color gray
.color-gray-10 {
    color: $color-gray-10;
}

.color-gray-20 {
    color: $color-gray-20;
}

.color-gray-30 {
    color: $color-gray-30;
}

.color-gray-40 {
    color: $color-gray-40;
}

.color-gray-50 {
    color: $color-gray-50;
}

.color-gray-60 {
    color: $color-gray-60;
}

.color-gray-70 {
    color: $color-gray-70;
}

.color-gray-80 {
    color: $color-gray-80;
}

.color-gray-90 {
    color: $color-gray-90;
}

//Color Primary
.color-primary-10 {
    color: $color-primary-10;
}

.color-primary-20 {
    color: $color-primary-20;
}

.color-primary-40 {
    color: $color-primary-40;
}

.color-primary-60 {
    color: $color-primary-60;
}

.color-primary-80 {
    color: $color-primary-80;
}

.color-primary-100 {
    color: $color-primary;
}

.color-primary-120 {
    color: $color-primary-120;
}

.color-primary-140 {
    color: $color-primary-140;
}

.color-primary-160 {
    color: $color-primary-160;
}

.color-primary-180 {
    color: $color-primary-180;
}

//Color NMA
.color-nma-120 {
    color: $color-nma-120;
}

//Font-size
.font-size-1 {
    color: $font-size-1;
}

.font-size-2 {
    color: $font-size-2;
}

.font-size-3 {
    color: $font-size-3;
}

.font-size-4 {
    color: $font-size-4;
}

.font-size-5 {
    color: $font-size-5;
}

.font-size-6 {
    color: $font-size-6;
}

.font-size-7 {
    color: $font-size-7;
}

.font-size-8 {
    color: $font-size-8;
}

.font-size-9 {
    color: $font-size-9;
}

.font-size-10 {
    color: $font-size-10;
}

.font-size-11 {
    color: $font-size-11;
}

.font-size-12 {
    color: $font-size-12;
}

//Font-family
.font-family-base {
    font-family: $font-family-base;
}

.font-family-alternate {
    font-family: $font-family-alternate;
}
