/*
Styleguide Backgrounds Effects
*/

/*
0 - Backgrounds Effects

Styleguide Backgrounds Effects - Backgrounds Effects
*/

/*
1 - Background Video Effect

Markup: <div class="fxBg fxBg--video js-fxBg--video"><div class="fxBg-stage"><video autoplay="true" muted="true" loop="true" class="fxBg-stageInner"><source src="https://www.videvo.net/videvo_files/converted/2013_10/videos/Background_08.mov70423.mp4" /><img src="https://storage.googleapis.com/coverr-public/poster/Feeling-the-Air.jpg" alt="" class="fxBg-stageAlternate" /></video></div><div class="container">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sed leo nulla. Sed nisl justo, finibus non massa quis, congue semper augue. Aenean a mi et metus laoreet elementum at in lorem. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sed leo nulla. Sed nisl justo, finibus non massa quis, congue semper augue. Aenean a mi et metus laoreet elementum at in lorem. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sed leo nulla. Sed nisl justo, finibus non massa quis, congue semper augue. Aenean a mi et metus laoreet elementum at in lorem. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sed leo nulla. Sed nisl justo, finibus non massa quis, congue semper augue. Aenean a mi et metus laoreet elementum at in lorem. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sed leo nulla. Sed nisl justo, finibus non massa quis, congue semper augue. Aenean a mi et metus laoreet elementum at in lorem. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sed leo nulla. Sed nisl justo, finibus non massa quis, congue semper augue. Aenean a mi et metus laoreet elementum at in lorem. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sed leo nulla. Sed nisl justo, finibus non massa quis, congue semper augue. Aenean a mi et metus laoreet elementum at in lorem. </div></div>

.fxBg.fxBg--video - Classe par défaut

Styleguide Backgrounds Effects - Background Video
*/

/*
2 - Background Parallax Effect

Markup: <div class="fxBg fxBg--parallax js-fxBg--parallax"><div class="fxBg-stage"><div class="fxBg-stageInner" style="background-image: url('https://storage.googleapis.com/coverr-public/poster/Feeling-the-Air.jpg');"></div></div><div class="container">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sed leo nulla. Sed nisl justo, finibus non massa quis, congue semper augue. Aenean a mi et metus laoreet elementum at in lorem. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sed leo nulla. Sed nisl justo, finibus non massa quis, congue semper augue. Aenean a mi et metus laoreet elementum at in lorem. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sed leo nulla. Sed nisl justo, finibus non massa quis, congue semper augue. Aenean a mi et metus laoreet elementum at in lorem. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sed leo nulla. Sed nisl justo, finibus non massa quis, congue semper augue. Aenean a mi et metus laoreet elementum at in lorem. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sed leo nulla. Sed nisl justo, finibus non massa quis, congue semper augue. Aenean a mi et metus laoreet elementum at in lorem. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sed leo nulla. Sed nisl justo, finibus non massa quis, congue semper augue. Aenean a mi et metus laoreet elementum at in lorem. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sed leo nulla. Sed nisl justo, finibus non massa quis, congue semper augue. Aenean a mi et metus laoreet elementum at in lorem. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sed leo nulla. Sed nisl justo, finibus non massa quis, congue semper augue. Aenean a mi et metus laoreet elementum at in lorem. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sed leo nulla. Sed nisl justo, finibus non massa quis, congue semper augue. Aenean a mi et metus laoreet elementum at in lorem. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sed leo nulla. Sed nisl justo, finibus non massa quis, congue semper augue. Aenean a mi et metus laoreet elementum at in lorem. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sed leo nulla. Sed nisl justo, finibus non massa quis, congue semper augue. Aenean a mi et metus laoreet elementum at in lorem. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sed leo nulla. Sed nisl justo, finibus non massa quis, congue semper augue. Aenean a mi et metus laoreet elementum at in lorem. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sed leo nulla. Sed nisl justo, finibus non massa quis, congue semper augue. Aenean a mi et metus laoreet elementum at in lorem. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sed leo nulla. Sed nisl justo, finibus non massa quis, congue semper augue. Aenean a mi et metus laoreet elementum at in lorem. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sed leo nulla. Sed nisl justo, finibus non massa quis, congue semper augue. Aenean a mi et metus laoreet elementum at in lorem. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sed leo nulla. Sed nisl justo, finibus non massa quis, congue semper augue. Aenean a mi et metus laoreet elementum at in lorem. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sed leo nulla. Sed nisl justo, finibus non massa quis, congue semper augue. Aenean a mi et metus laoreet elementum at in lorem. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sed leo nulla. Sed nisl justo, finibus non massa quis, congue semper augue. Aenean a mi et metus laoreet elementum at in lorem. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sed leo nulla. Sed nisl justo, finibus non massa quis, congue semper augue. Aenean a mi et metus laoreet elementum at in lorem. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sed leo nulla. Sed nisl justo, finibus non massa quis, congue semper augue. Aenean a mi et metus laoreet elementum at in lorem. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sed leo nulla. Sed nisl justo, finibus non massa quis, congue semper augue. Aenean a mi et metus laoreet elementum at in lorem.</div></div>

.fxBg.fxBg--parallax - Classe par défaut

Styleguide Backgrounds Effects - Background Parallax
*/

$effectBgPrefix: 'fxBg';

.#{$effectBgPrefix} {
    background-color: $color-black;
    color: $color-white;
    min-height: 35rem;
    position: relative;
    z-index: 0;

    &-stage,
    &-stageInner {
        position: absolute;
    }

    &-stage {
        bottom: 0;
        left: 0;
        overflow: hidden;
        right: 0;
        top: 0;
        z-index: -1;
    }

    &-inner {
        left: 0;
    }

    &--video {
        .#{$effectBgPrefix}-stageInner {
            top: 50%;
            width: 100%;
            transform: translateY(-50%);
        }
    }

    &--parallax {
        .#{$effectBgPrefix}-stageInner {
            background-repeat: no-repeat;
            background-size: cover;
            height: 100%;
            width: 100%;
            transform: scale(1.5);
        }
    }
}
