.blockFeature {
    .headerMain {
        margin: 0 auto $spacing-24;
        max-width: 50rem;
    }

    .form {
        display: table;
        margin: $spacing-24 auto 0;

        &:not(:last-child) {
            margin-bottom: $spacing-24;
        }
    }

    .callToAction {
        text-align: center;
    }
}
