.listGenders {
    display: flex;
    flex-wrap: wrap;

    &-item {
        flex: 0 0 50%;
        margin-bottom: $spacing-12;
        @media (min-width: $breakpoint-md) {
            flex: 0 0 25%;
            margin-bottom: 0;
        }

        &:nth-child(-n+3) {
            @media (min-width: $breakpoint-md) {
                margin-bottom: $spacing-12;
            }
            @media (min-width: $breakpoint-lg) {
                margin-bottom: $spacing-20;
            }
        }

        &:nth-child(1) {
            @media (min-width: $breakpoint-md) {
                margin-left: 10%;
            }
        }

        &:nth-child(3) {
            @media (min-width: $breakpoint-md) {
                margin-right: 10%;
            }
        }
    }

    .thumbnail {
        margin: auto;
        height: 5.8rem;
        width: 5.8rem;
        @media (min-width: $breakpoint-lg) {
            height: 8.8rem;
            width: 8.8rem;
        }
    }

    [class^="heading"] {
        font-size: $font-size-5;
        font-weight: $font-weight-normal;
        @media (min-width: $breakpoint-xl) {
            font-size: $font-size-8;
        }
    }
}
