/* 
 * @filename    : amp/molecules/_share-links-article.scss
 * @description : Contient les styles des liens de partages présents dans les pages de type "ARTICLE" du site
 * @projet      : NRJ 2017 (nouveau site NRJ)
 * @date        : JUILLET 2017
 * @author      : Trésor ILOYI
 * -------------------------------------------- */

.shareLinks {
    border-top: 0.1rem solid $gray-1;
    margin: 2.5rem 0 1.6rem; // =25px 0 16px
    padding-top: 0.5rem; // =5px
}

.shareLinks-txt {
    @include font-size(1.2); // =12px
    @include lato-regular;
    display: block;
    text-align: center;
    margin-bottom: 0.8rem; // =8px
}

.shareLinks-list {
    text-align: center;
}

.shareLinks-item {
    @include inline-block(top);
    margin-right: 0.3rem; // =3px

    &:last-child {
        margin-right: 0;
    }
}