/*
Styleguide Partage
*/

/*
0 - Partage

Styleguide Partage - Partage
*/

/*
Partage

Markup: /style_guide/2_molecules/_share.html.twig

.share - Partage

Styleguide Partage - Partage de liens
*/

$sharePrefix: 'share';

.#{$sharePrefix} {

    // **
    // * Share List
    // *

    &-list {
        @media (max-width: $breakpoint-md-max) {
            display: flex;
            justify-content: center;
        }
    }

    // **
    // * Share List Item
    // *

    &-listItem {
        position: relative;

        @media (max-width: $breakpoint-md-max) {
            display: flex;
            align-items: center;
        }

        &:not(:last-child) {
            margin-right: $spacing-8;
            @media (min-width: $breakpoint-lg) {
                margin: 0 0 $spacing-8;
            }
        }
    }

    &--inline {
        .#{$sharePrefix}-listItem {
            display: inline-block;
            vertical-align: top;

            &:not(:last-child) {
                margin-right: $spacing-8;
            }
        }
    }

    .buttonSquare {
        position: relative;
        z-index: 1;
    }

    &-number {
        color: $color-white;
        display: none;
        justify-content: center;
        padding: 0 0 $spacing-4 0;

        @media (max-width: $breakpoint-md-max) {
            padding: 0 $spacing-8 0 $spacing-4;
        }

        &::before {
            content: '';
            display: block;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            border-radius: $spacing-44;
        }

        &Inner {
            position: relative;
            z-index: 1;
        }

        &--show {
            display: flex;
        }
    }

    .buttonSquare--twitter {
        & + .#{$sharePrefix}-number::before {
            background-color: darken($color-brand-twitter, 10%);
        }
    }

    .buttonSquare--facebook {
        & + .#{$sharePrefix}-number::before {
            background-color: darken($color-brand-facebook, 10%);
        }
    }
}
