// **
// * TIPPY JS
// * This file override certain Tippy properties as minimum
// **

$tippyPrefix: 'tippy';

.#{$tippyPrefix}-popper {
    .#{$tippyPrefix}-tooltip {
        border-radius: $spacing-4;
        font-size: $font-size-2;
        padding: $spacing-4 $spacing-8;

        li,
        p {
            &:not(:last-child) {
                margin-bottom: $spacing-4;
            }
        }

        &[data-size="large"] {
            font-size: $font-size-3;
            padding: $spacing-8 $spacing-16;
        }

        &.light-border-theme {
            border-color: $color-gray-30;

            .#{$tippyPrefix}-roundarrow {
                &::after {
                    fill: $color-gray-30;
                }
            }
        }
    }
}
