/*
Styleguide Colors
*/

/*
0 - Les Couleurs

Styleguide Colors - Couleurs
*/

/*
1 - Gray

Markup: /style_guide/0_base/_base-colors.html.twig

color-gray-50:  $color-gray-50 - Gris.
color-black:  $color-black - Noir.
color-gray-90:  $color-gray-90 - Gris 90%.
color-gray-80:  $color-gray-80 - Gris 80%.
color-gray-70:  $color-gray-70 - Gris 70%.
color-gray-60:  $color-gray-60 - Gris 60%.
color-gray-50:  $color-gray-50 - Gris 50%.
color-gray-40:  $color-gray-40 - Gris 40%.
color-gray-30:  $color-gray-30 - Gris 30%.
color-gray-20:  $color-gray-20 - Gris 20%.
color-gray-10:  $color-gray-10 - Gris 10%.
color-white: $color-white - Blanc.

Styleguide Colors - Nuances de gris
*/

/*
3 - Primary

Markup: /style_guide/0_base/_base-colors.html.twig

color-primary: $color-primary - NRJ.
color-primary-180: $color-primary-180 - Couleur Primary 180%.
color-primary-160: $color-primary-160 - Couleur Primary 160%.
color-primary-140: $color-primary-140 - Couleur Primary 140%.
color-primary-120: $color-primary-120 - Couleur Primary 120%.
color-primary-100: $color-primary-100 - Couleur Primary.
color-primary-80: $color-primary-80 - Couleur Primary 80%.
color-primary-60: $color-primary-60 - Couleur Primary 60%.
color-primary-40: $color-primary-40 - Couleur Primary 40%.
color-primary-20: $color-primary-20 - Couleur Primary 20%.
color-primary-10: $color-primary-10 - Couleur Primary 10%.

Styleguide Colors - Couleurs primaires
*/

/*
4 - NMA

Markup: /style_guide/0_base/_base-colors.html.twig

color-nma: $color-nma - NRJ.
color-nma-120: $color-nma-120 - Couleur NMA 120%.

Styleguide Colors - Couleurs nma
*/
