/*
Styleguide Icons
*/

@font-face {
    font-display: swap;
    font-family: '#{$icomoon-font-family}';
    src: url('#{$icomoon-font-path}/#{$icomoon-font-family}.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

[class^="enrj-"],
[class*=" enrj-"] {
    font-family: '#{$icomoon-font-family}';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/*
0 - Les Icons

Styleguide Icons - Icon
*/

/*
1 - Une liste d'icones

Markup: /style_guide/0_base/_base-icons.html.twig

.enrj-angle-down-light
.enrj-angle-up-light
.enrj-bars-light
.enrj-blocks
.enrj-broadcast
.enrj-camera-solid
.enrj-check
.enrj-chevron-left
.enrj-chevron-right
.enrj-chevron-up
.enrj-circle
.enrj-clock
.enrj-cog
.enrj-download
.enrj-envelope
.enrj-exclamation-circle
.enrj-eye
.enrj-eye-slash
.enrj-facebook-f
.enrj-film
.enrj-filter
.enrj-gallery
.enrj-globe
.enrj-network
.enrj-sphere
.enrj-headphones-alt-solid
.enrj-heart-o
.enrj-image-solid
.enrj-images-solid
.enrj-info
.enrj-instagram
.enrj-micro
.enrj-microphone
.enrj-music-solid
.enrj-pause
.enrj-play
.enrj-redo
.enrj-rss
.enrj-search
.enrj-search-light
.enrj-share
.enrj-snapchat
.enrj-star-regular
.enrj-times-light
.enrj-trophy
.enrj-twitter
.enrj-undo
.enrj-user-light
.enrj-user-solid
.enrj-volume-down
.enrj-volume-up
.enrj-youtube
.enrj-zodiac-aquarius
.enrj-zodiac-aries
.enrj-zodiac-cancer
.enrj-zodiac-capricorn
.enrj-zodiac-gemini
.enrj-zodiac-leo
.enrj-zodiac-libra
.enrj-zodiac-pisces
.enrj-zodiac-sagittarius
.enrj-zodiac-scorpio
.enrj-zodiac-taurus
.enrj-zodiac-virgo

Styleguide Icons - Icons
*/

.enrj-angle-down-light {
    &::before {
        content: $enrj-angle-down-light;
    }
}

.enrj-angle-up-light {
    &::before {
        content: $enrj-angle-up-light;
    }
}

.enrj-bars-light {
    &::before {
        content: $enrj-bars-light;
    }
}

.enrj-blocks {
    &::before {
        content: $enrj-blocks;
    }
}

.enrj-broadcast {
    &::before {
        content: $enrj-broadcast;
    }
}

.enrj-camera-solid {
    &::before {
        content: $enrj-camera-solid;
    }
}

.enrj-check {
    &::before {
        content: $enrj-check;
    }
}

.enrj-chevron-left {
    &::before {
        content: $enrj-chevron-left;
    }
}

.enrj-chevron-right {
    &::before {
        content: $enrj-chevron-right;
    }
}

.enrj-chevron-up {
    &::before {
        content: $enrj-chevron-up;
    }
}

.enrj-circle {
    &::before {
        content: $enrj-circle;
    }
}

.enrj-clock {
    &::before {
        content: $enrj-clock;
    }
}

.enrj-cog {
    &::before {
        content: $enrj-cog;
    }
}

.enrj-download {
    &::before {
        content: $enrj-download;
    }
}

.enrj-envelope {
    &::before {
        content: $enrj-envelope;
    }
}

.enrj-exclamation-circle {
    &::before {
        content: $enrj-exclamation-circle;
    }
}

.enrj-eye {
    &::before {
        content: $enrj-eye;
    }
}

.enrj-eye-slash {
    &::before {
        content: $enrj-eye-slash;
    }
}

.enrj-facebook-f {
    &::before {
        content: $enrj-facebook-f;
    }
}

.enrj-film {
    &::before {
        content: $enrj-film;
    }
}

.enrj-filter {
    &::before {
        content: $enrj-filter;
    }
}

.enrj-gallery {
    &::before {
        content: $enrj-gallery;
    }
}

.enrj-globe {
    &::before {
        content: $enrj-globe;
    }
}

.enrj-network {
    &::before {
        content: $enrj-network;
    }
}

.enrj-sphere {
    &::before {
        content: $enrj-sphere;
    }
}

.enrj-headphones-alt-solid {
    &::before {
        content: $enrj-headphones-alt-solid;
    }
}

.enrj-heart-o {
    &::before {
        content: $enrj-heart-o;
    }
}

.enrj-image-solid {
    &::before {
        content: $enrj-image-solid;
    }
}

.enrj-images-solid {
    &::before {
        content: $enrj-images-solid;
    }
}

.enrj-info {
    &::before {
        content: $enrj-info;
    }
}

.enrj-instagram {
    &::before {
        content: $enrj-instagram;
    }
}

.enrj-micro {
    &::before {
        content: $enrj-micro;
    }
}

.enrj-microphone {
    &::before {
        content: $enrj-microphone;
    }
}

.enrj-music-solid {
    &::before {
        content: $enrj-music-solid;
    }
}

.enrj-pause {
    &::before {
        content: $enrj-pause;
    }
}

.enrj-play {
    &::before {
        content: $enrj-play;
    }
}

.enrj-redo {
    &::before {
        content: $enrj-redo;
    }
}

.enrj-rss {
    &::before {
        content: $enrj-rss;
    }
}

.enrj-search {
    &::before {
        content: $enrj-search;
    }
}

.enrj-search-light {
    &::before {
        content: $enrj-search-light;
    }
}

.enrj-share {
    &::before {
        content: $enrj-share;
    }
}

.enrj-snapchat {
    &::before {
        content: $enrj-snapchat;
    }
}

.enrj-star-regular {
    &::before {
        content: $enrj-star-regular;
    }
}

.enrj-times-light {
    &::before {
        content: $enrj-times-light;
    }
}

.enrj-trophy {
    &::before {
        content: $enrj-trophy;
    }
}

.enrj-twitter {
    &::before {
        content: $enrj-twitter;
    }
}

.enrj-undo {
    &::before {
        content: $enrj-undo;
    }
}

.enrj-user-light {
    &::before {
        content: $enrj-user-light;
    }
}

.enrj-user-solid {
    &::before {
        content: $enrj-user-solid;
    }
}

.enrj-volume-down {
    &::before {
        content: $enrj-volume-down;
    }
}

.enrj-volume-up {
    &::before {
        content: $enrj-volume-up;
    }
}

.enrj-youtube {
    &::before {
        content: $enrj-youtube;
    }
}

.enrj-zodiac-aquarius {
    &::before {
        content: $enrj-zodiac-aquarius;
    }
}

.enrj-zodiac-aries {
    &::before {
        content: $enrj-zodiac-aries;
    }
}

.enrj-zodiac-cancer {
    &::before {
        content: $enrj-zodiac-cancer;
    }
}

.enrj-zodiac-capricorn {
    &::before {
        content: $enrj-zodiac-capricorn;
    }
}

.enrj-zodiac-gemini {
    &::before {
        content: $enrj-zodiac-gemini;
    }
}

.enrj-zodiac-leo {
    &::before {
        content: $enrj-zodiac-leo;
    }
}

.enrj-zodiac-libra {
    &::before {
        content: $enrj-zodiac-libra;
    }
}

.enrj-zodiac-pisces {
    &::before {
        content: $enrj-zodiac-pisces;
    }
}

.enrj-zodiac-sagittarius {
    &::before {
        content: $enrj-zodiac-sagittarius;
    }
}

.enrj-zodiac-scorpio {
    &::before {
        content: $enrj-zodiac-scorpio;
    }
}

.enrj-zodiac-taurus {
    &::before {
        content: $enrj-zodiac-taurus;
    }
}

.enrj-zodiac-virgo {
    &::before {
        content: $enrj-zodiac-virgo;
    }
}
